<% include partials/header %>
<div class='landing'>
    <nav class="navbar navbar-default nav-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DogGroomByTom</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </div>
    </nav>

















<% include partials/footer %>