<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jua">Our Pet Services</h1>
        </div>
    </div>

    <div class="row service-all">
        <div class="col-md-3">
            <img src="/images/a.png">
            <h3 class="service-header orange">Wash Only</h3>
            <p class="service-content">Wash, blow dry, brush out, comb through.</p>
            <ul>
                <li>Sml from $20</li>
                <li>Med from $30</li>
                <li>Lrg from $40</li>
                <li>X-Lrg from $50+</li>
            </ul>
        </div>

        <div class="col-md-3">
            <img src="/images/b.png">
            <h3 class="service-header orange">Full Clip/Breed Style</h3>
            <p class="service-content">Wash, blow dry, brush out, comb through, nails trimmed and ears cleaned plus full clip to either breed or client’s standards.</p>
            <ul>
                <li>Sml from $70</li>
                <li>Med from $80</li>
                <li>Lrg from $90</li>
                <li>X-Lrg from $100+</li>
            </ul>
        </div>

        <div class="col-md-3">
            <img src="/images/c.png">
            <h3 class="service-header orange">Bath & Groom</h3>
            <p class="service-content">Wash, blow dry, brush out, comb through, nails trimmed and ears cleaned.</p>
            <ul>
                <li>Sml from $40</li>
                <li>Med from $50</li>
                <li>Lrg from $60+</li>
            </ul>
        </div>


        <div class="col-md-3">
            <img src="/images/d.png">
            <h3 class="service-header orange">Bath & Tidy</h3>
            <p class="service-content">Wash, blow dry, brush out, comb through, nails trimmed and ears cleaned plus trim face, feet and sanitary areas.</p>
            <ul>
                <li>Sml from $55</li>
                <li>Med from $65</li>
                <li>Lrg from $80+</li>
            </ul>
        </div>

    </div>
</div>





<% include partials/footer %>